* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Geist", sans-serif;
}
section .container{
    margin-bottom:5px;
    border-bottom:1px solid grey;
    padding-bottom:15px;

}
body {
    width: 500px;
    margin: 0 auto;
    border: 1px solid grey;
}


header {
    border-bottom: 1px solid #C6C6C6;
    padding: 10px 20px;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 127px;
    height: 60px;

}

header .user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;



}

.info {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 15px;

}

.info img {
    width: 35px;
    height: 36px;
    border-radius: 50%;
}

.name-location {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
a,
p {
    font-size: 13px;
}

.name-location a {
    font-size: 14px;
}
.post-picture {
    height: 500px;
}

.post-picture img {
    width: 100%;
    height: 100%;
}

.interaction {
    margin-left: 15px;

}

.reaction {
    width: 120px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.reaction img {
    width: 25px;
    height: 100%;

}


.like-count{
    margin-top:10px;
}
.comment {
    display: flex;
    margin-top:10px;
}

.comment p {
    margin-left: 7px;
}

.drk {

    font-weight: 600;
    text-decoration: none;
    color: black;
}



.post-picture a{
    cursor: pointer;
}